/* スマートフォン用CSS */
@media screen and (max-width: 700px) {

  * {
    margin: 0;
    padding: 0;
  }
  body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Rajdhani', 'Noto Sans JP', sans-serif;
    line-height: 1.5;
  }
  a,
  a:visited {
    text-decoration: none;
    color: white;
  }
  span {
    background-color: #222222;
  }

  /*書き換えの際にふわっと表示させるやつ*/
  .qa .qaSheet #question h2,
  .qa .qaSheet #answer p,
  .character-caption h1,
  .character-caption p,
  .character img {
    transition: all .6s;
    animation: fadeIn .8s ease 0s 1 normal;
    -webkit-animation: fadeIn .8s ease 0s 1 normal;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }

  /*メインビジュアル*/
  .backImage { /*一番後ろの背景*/
    margin-left: auto;
    margin-right: auto;
    height: 650px;
    background-image: url(../images/top.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #top .backImage img {
    z-index: -1;
  }

  /*メインビジュアル：キャラクター*/
  #top .characterImage .kana {
    position: absolute;
    right: 0;
    top: -10px;
    display: block;
  }
  #top .characterImage .mimil {
    position: absolute;
    right: 0;
    top: 30px;
    display: block;
  }
  #top .characterImage .leonard {
    position: absolute;
    right: 10px;
    top: 20px;
    display: block;
  }
  #top .characterImage .hirona {
    position: absolute;
    right: 0;
    top: 250px;
    display: block;
  }
  .kanaSize{
    width: 420px;
  }
  .mimilSize{
    width: 300px;
  }
  .leonardSize{
    width: 300px;
  }
  .hironaSize{
    width: 380px;
  }
  .logoSize{
    width: 90%;
  }
  .catchCopySize{
    width: 80%;
  }


  /*メインビジュアル：メニュー、ロゴ、その他バナー*/
  #top .characterImage .giarNav {
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    transition: all .3s;
  }

  #top .characterImage .giarNav img {
    z-index: 100;
  }

  #top .characterImage .catchCopy {
    position: absolute;
    left: 20px;
    top: 430px;
    display: block;
    margin-left: 4%;
  }

  #top .characterImage .logo {
    position: absolute;
    display: block;
    text-align: center;
    top: 400px;
  }

  #top .characterImage .git {
    position: fixed;
    right: -137px;
    top: 160px;
    display: block;
    z-index: 4;
    transition: all .5s;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
  }

  #top .characterImage .twi {
    position: fixed;
    right: -137px;
    top: 220px;
    display: block;
    z-index: 4;
    transition: all .5s;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
  }



  /*メインコンテンツの土台*/
  main {
    position: relative;
    padding-top: 100px;
    background-color: #f9f9f9;
    z-index: 0;
  }

  /*背景画像*/
  .giar1 {
    position: absolute;
    z-index: -5;
  }

  .giar2 {
    position: absolute;
    top: 1800px;
    right: 0;
    z-index: -5;
  }

  .back_C {
    grid-row: 9 / 11;
    grid-column: 7 / 11;
    text-align: right;
    z-index: -10;
  }

  .back_C img {
    position: relative;
    width: 100%;
  }

  .back_W {
    grid-row: 14 / 17;
    grid-column: 1 / 6;
    z-index: -10;
  }

  .back_W img {
    width: 100%;
  }

  .back {
    grid-row: 15 / 17;
    grid-column: 1 / 11;
    z-index: -10;
  }

  .back img {
    width: 100%;
    position: relative;
    top: 240px;
  }

  /*メニュー*/
  #nav-drawer {
    position: fixed;
    z-index: 100;
    top: 31px;
    right: 0;
  }

  .nav-unshown { /*チェックボックス非表示*/
    display: none;
  }

  #nav-open {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
  }

  /*ハンバーガーアイコンの設定*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 6px; /*太さ*/
    width: 33px; /*長さ*/
    border-radius: 2px;
    background: #080808;
    display: block;
    content: '';
    cursor: pointer;
    transition: all .6s;
  }

  #nav-open span:before {
    transform: translateY(-12px);
  }

  #nav-open span:after {
    transform: translateY(12px);
  }

  /*閉じるためのカバー*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    transition: all .3s ease-in-out;
  }

  /*メニューの中身*/
  #nav-content {
    position: fixed;
    text-align: right;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    max-width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: #e4593a 15px solid;
    transition: .3s ease-in-out;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); /*上に隠す*/
  }

  #nav-content li {
    position: relative;
    margin-right: 20px;
    right: 146px;
    list-style: none;
    display: inline;
    line-height: 60px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
  }

  #nav-content a {
    color: #222222;
    transition: all .3s;
  }

  #nav-content a:hover {
    color: #e4593a;
  }

  /*チェックが入ったら表示する*/
  #nav-input:checked ~ #nav-close {
    display: block; /*カバーの表示*/
    opacity: .3;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); /*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
  }

  /*バツアニメ*/
  #nav-input:checked ~ #nav-open span {
    background: rgba(255, 255, 255, 0);
  }

  #nav-input:checked ~ #nav-open span:before {
    transform: rotate(45deg) translateY(0px);
  }

  #nav-input:checked ~ #nav-open span:after {
    transform: rotate(-45deg) translateY(0px);
  }

  /*CSSグリッド-メインコンテンツ*/
  #container {
    margin-top: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: grid; /*グリッドレイアウトにする設定*/
    grid-auto-rows: 60px /*TOPからの余白*/ 40px/*お知らせ見出し*/ 240px/*お知らせ*/ 80px/*余白*/  300px /*ツイッター連携*/ 80px/*余白*/ 45px /*キャラ見出し*/ 270px /*キャラ表示*/ 285px /*キャラ説明*/ 120px /*キャラ切り替え*/ 80px /*余白*/ 45px /*世界観見出し*/ 20px/*余白*/ 250px /*世界観説明*/ 30px /*余白*/ 325px /*UI*/ 40px /*余白*/ 450px /*質問*/ 50px/*切り替え*/ 20px 20px 20px 520px;
    grid-auto-columns: 6% 12% 12% 10% 10% 10% 10% 12% 12% 6%;
  }

  /*お知らせとツイッター連携*/
  .newsTextImage {
    grid-row: 2;
    grid-column: 2 / 7;
  }

  .newsTextImage img {
    margin-top: 1px;
    height: 100%;
  }

  .news {
    grid-row: 3;
    grid-column: 2 / 10;
    background-color: white;
    border: solid 12px #f5c51d;
  }

  .news #sheet ul {
    padding: 20px;
  }

  .news #sheet li {
    list-style: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 11px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .news #sheet li span {
    background-color: white;
  }

  .version {
    grid-row: 5;
    grid-column: 2 / 10;
    text-align: right;
  }

  .version img {
    height: 100%;
  }

  /*キャラクター*/
  .character-midashi {
    grid-row: 7;
    grid-column: 2 / 10;
  }

  .character-midashi img {
    height: 100%;
  }

  .character {
    grid-row: 8 /10;
    grid-column: 1 / 11;
    text-align: center;
  }

  .character img {
    height: 72%;
  }

  .character-caption {
    grid-row: 9;
    grid-column: 2 / 10;
  }
  .character-caption p{
    font-size: 12px;
  }
  .character-caption h1,
  .character-caption p {
    color: white;
    text-align: right;
  }

  /*キャラ切り替え*/
  .characterMove {
    grid-row: 10;
    grid-column: 2 / 10;
    text-align: right;
  }

  .characterMove img {
    height: 50%;
    margin-left: 8px;
    cursor: pointer;
  }

  /*世界観*/
  .world-midashi {
    grid-row: 12;
    grid-column: 2 / 10;
    text-align: right;
  }

  .world-midashi img {
    height: 100%;
  }

  .world {
    grid-row: 14;
    grid-column: 2/10;
  }

  .world h2 {
    font-family: 'Noto Sans JP', sans-serif;
  }
  .world p {
    font-size: 12px;
  }
  .world h2,
  .world p {
    color: white;
    text-align: left;
  }

  /*mock-up*/
  .UI-mockUp {
    grid-row: 16;
    grid-column: 2 / 10;
    text-align: center;
  }

  .UI-mockUp img {
    width: 100%;
    transition: all .4s;
  }

  .UI-mockUp img:hover {
    transform: scale(1.12);
  }

  /*よくある質問*/
  .qa {
    grid-row: 18;
    grid-column: 1 / 11;
    text-align: center;
    background-color: #9BD1DE;
  }

  .qa h1 {
    color: white;
  }

  .qa .qaSheet {
    width: 75%;
    height: 260px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    background-color: white;
    border-radius: 10px 10px 2px 2px;
  }

  .qa .qaSheet #question {
    height: 50px;
    background-color: #ff5233;
    border-radius: 10px 10px 0 0;
  }

  .qa .qaSheet #question h2 {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 16px;
  }
  .qa .qaSheet #answer {
    padding: 30px;
    transition: all .2s;
  }

  .qa .qaSheet #answer a {
    color: #ff5233;
    transition: all .3s;
  }

  .qa .qaSheet #answer a:hover {
    opacity: .6;
  }

  .questionMove {
    grid-row: 19;
    grid-column: 2 / 10;
    text-align: center;
  }

  .questionMove li {
    font-size: 24px;
    list-style: none;
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all .3s;
    color: white;
  }

  .questionMove li:hover {
    font-size: 24px;
    list-style: none;
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    text-shadow: #d6d6d6 0 0 6px;
  }

  /*上部に戻るボタン*/
  .footerButton {
    grid-row: 21 / 23;
    grid-column: 1 / 11;
    z-index: 5;
  }

  .upButton {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border: solid 6px white;
    background-color: #1c1d1c;
    font-family: 'Asap', serif;
    font-size: 40px;
    text-align: center;
    transition: all .3s;
  }

  .upButton:hover {
    width: 60px;
    height: 60px;
    border: solid 6px #ff5233;
    background-color: #1c1d1c;
    font-family: 'Asap', serif;
    font-size: 40px;
    text-align: center;
    color: #ff5233;
  }

  .button-up {
    display: block;
    text-align: center;
  }

  /*フッター*/
  footer {
    grid-row: 22 / 24;
    grid-column: 1 / 11;
    background-color: #1c1d1c;
    font-size: 9px;
    text-align: center;
    color: white;
    padding-top: 100px;
  }

  footer img {
    margin: 10px auto;
  }

  footer .announce {
    margin-top: 40px;
  }

  footer .announce li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
  }

  footer .copyRight {
    margin-top: 50px;
  }
}

.appIcon{
  width: 144px;
  height: 144px;
}
.navImage{
  width: 150px;
  height: 116px;
}
.snsBanner{
  width: 180px;
  height: 50px;
}
.giarImage1{
  width: 164px;
  height: 164px;
}