/*太字*/
body{
  font-family: sans-serif;
}

b{
  font-size: 18px;
  margin: 10px 0;
}

li{
  list-style: none;
  border: solid #9e9e9e 1px;
  margin:-1px 0;
  animation: fadeIn .8s ease 0s 1 normal;
  -webkit-animation: fadeIn .8s ease 0s 1 normal;
  font-family: sans-serif;
}

/*書き換えの際にふわっと表示させるやつ*/
/*liにアニメ設定*/
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

/*成形用*/
.textBox,
.imageBox{
  display: inline-block;
}

.imageBox{
  width: 100px;
  margin: 10px 20px 10px 10px;
  border: solid 1px #c0c0c0;
  background-color: white;
}

.textBox{
  vertical-align: top;
  margin-top: 10px;
}

/*切り替えボタンの設定*/
.selectButton{
  font-size: 14px;
  font-family: sans-serif;
  width: 80px;
  height: 40px;
  background-color: #fdfdff;
  border-radius: 15px;
  border: solid 1px #a7a7a7;
  outline: none;
  transition: all .2s;
}

.selectButton:hover{
  box-shadow: #cdcdcd 0 0 6px;
  background-color: #f9f9f9;
}

.selectButton:active{
  background-color: #e2e2e2;
}
