* {/*すべての要素で適用*/
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Noto Sans JP', 'M PLUS Rounded 1c', sans-serif;
  background-color: #fffafa;
  line-height: 1.5;
}

/*リンクの設定*/
a,
a:visited{
  text-decoration: none;
  color: #00a3af;
}
a:hover{
  border-bottom: solid 1px #00a3af;
}

/*装飾とか*/
hr{
  border: solid 2px;
  margin-bottom: 20px;
}
h2{
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
  color: #00a3af;
}
h1,
h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1,
span{
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
}
h1:before, h1:after, span:before, span:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 3px;
  height: -webkit-calc(100% + 15px);
  height: calc(100% + 15px);
  background-color: black;
}
h1:before, span:before {
  left: 7px;
}
h1:after, span:after {
  right: 7px;
}

/*見出しデザイン*/
h2 {
  position: relative;
  line-height: 1.4;
  padding:0.25em 1em;
  display: inline-block;
  top:0;
}

h2:before, h2:after {
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
h2:before {
  border-left: solid 1px #00a3af;
  border-top: solid 1px #00a3af;
  border-bottom: solid 1px #00a3af;
  left: 0;
}
h2:after {
  content: '';
  border-top: solid 1px #00a3af;
  border-right: solid 1px #00a3af;
  border-bottom: solid 1px #00a3af;
  right: 0;
}

img{
  object-fit: cover;
}

.right{
  text-align: right;
}
.small{
  text-align: right;
  margin-top: 5px;
  font-size: 12px;
}

/*メイン*/
#main{
  width: 86%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

/*CSSグリッドの設定*/
#container {
  margin-top: 80px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: grid; /*グリッドレイアウトにする設定*/
  grid-auto-rows: auto 50px 240px 50px 300px 80px 80px 200px;
  grid-auto-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  z-index: 10;
}

.life{
  grid-row: 1;
  grid-column: 9/21;
}
.lifeIMG{
  grid-row: 1/6;
  grid-column: 1/8;
}

.taste{
  grid-row: 3;
  grid-column: 15/21;
}
.tasteIMG{
  grid-row: 3;
  grid-column: 9/14;
}

.color{
  grid-row: 5;
  grid-column: 9/14;
}
.colorIMG{
  grid-row: 5;
  grid-column: 15/21;
}

.hobbyLabel{
  grid-row: 7;
  grid-column: 1/21;
}

.retroGame{
  grid-row: 9;
  grid-column: 1/7;
}
.retroGameIMG{
  grid-row: 8;
  grid-column: 1/7;
}

.tvDrama{
  grid-row: 9;
  grid-column: 8/14;
}
.tvDramaIMG{
  grid-row: 8;
  grid-column: 8/14;
}

.comedian{
  grid-row: 9;
  grid-column: 15/21;
}
.comedianIMG{
  grid-row: 8;
  grid-column: 15/21;
}

.lifeIMG img,
.tasteIMG img,
.colorIMG img,
.retroGameIMG img,
.tvDramaIMG img,
.comedianIMG img{
  height: 100%;
  width: 100%;
}
.retroGame h3,
.tvDrama h3,
.comedian h3{
  color: #00a3af;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #00a3af;
}

/*フッター*/
footer{
  margin-top: 60px;
  text-align: center;
}
footer p{
  font-size: 14px;
}