/* PC用CSS */
@media print, screen and (min-width: 760px) {
  * { /*全ての要素に適用*/
    margin: 0;
    padding: 0;
    word-break: break-all;
  }

  body {
    background-color: #F5F5F5;
    color: #3e3e3e;
    font-family: 'Rajdhani', 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.6;
  }

  #about h1,
  #member h1,
  #activity h1,
  #contact h1 {
    font-size: 28px;
  }

  h2 {
    margin: 20px 0 20px 0;
    font-weight: 300;
  }

  p {
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img {
    object-fit: cover;
  }

  .under {
    background: linear-gradient(transparent 50%, #f8c6ca 50%);
  }

  header a,
  header a:hover,
  header a:visited {
    text-decoration: none;
    color: #FFFFFF;
  }

  header a:hover {
    border-bottom: 1px solid #FFFFFF;
  }

  .logo {
    position: fixed;
    top: 12px;
    left: 20px;
    z-index: 10;
  }

  .logo img {
    height: 65px;
    transition: all .3s ease-in-out;
  }

  .logo img:hover {
    opacity: .6;
    transition: all .3s ease-in-out;
  }

  /*グラデーションメニュー*/
  .gradientMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    text-align: right;
    background-color: #000;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(89, 89, 89, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    color: #ffffff;
    line-height: 80px;
    padding-right: 80px;
    font-size: 18px;
  }

  #nav-drawer {
    position: fixed;
    z-index: 101;
    top: 25px;
    right: 15px;
  }

  .nav-unshown { /*チェックボックス非表示*/
    display: none;
  }

  #nav-open {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
  }

  /*ハンバーガーアイコンの設定*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px; /*太さ*/
    width: 42px; /*長さ*/
    border-radius: 2px;
    background: #FFFFFF;
    display: block;
    content: '';
    cursor: pointer;
    transition: all .6s;
  }

  #nav-open span:before {
    transform: translateY(-14px);
  }

  #nav-open span:after {
    transform: translateY(14px);
  }

  /*閉じるためのカバー*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
  }

  /*メニューの中身*/
  #nav-content {
    position: fixed;
    text-align: right;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    max-width: 100%;
    height: 90px;
    transition: .3s ease-in-out;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); /*上に隠す*/
  }

  #nav-content li {
    position: relative;
    margin-right: 20px;
    right: 80px;
    list-style: none;
    display: inline;
    line-height: 80px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
  }

  #nav-content a,
  #nav-content a:visited{
    color: #FFFFFF;
    transition: all .3s;
  }

  /*チェックが入ったら表示する*/
  #nav-input:checked ~ #nav-close {
    display: block; /*カバーの表示*/
    opacity: .3;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); /*中身を表示（右へスライド）*/
  }

  /*バツアニメ*/
  #nav-input:checked ~ #nav-open span {
    background: rgba(255, 255, 255, 0);
  }

  #nav-input:checked ~ #nav-open span:before {
    transform: rotate(45deg) translateY(0px);
  }

  #nav-input:checked ~ #nav-open span:after {
    transform: rotate(-45deg) translateY(0px);
  }


  #mainVisual {
    height: 850px;
    background-image: url(../images/mainVisual.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f8a5c2;
  }

  .box-under-shadow {
    box-shadow: 0 -15px 10px -10px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 -15px 10px -10px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 -15px 10px -10px rgba(0, 0, 0, 0.3) inset;
  }

  #mainContents {
    text-align: center;
  }

  #about {
    margin-top: 80px;
  }

  #member ul li {
    display: inline-block;
    list-style: none;
    width: 240px;
    height: 240px;
    margin: 30px;
  }

  #member ul li img {
    width: 100%;
    height: 100%;
  }

  /*モーダルウィンドウ*/
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 20;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .modalWindow {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    width: 50%;
    height: auto;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 10;
    text-align: left;
  }

  .modalWindow h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
    font-size: 20px;
  }

  .modalWindow h3 {
    margin-bottom: 20px;
    font-size: 12px;
    color: #63cdda;
  }

  .modalWindow .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #232323;
  }

  .modalWindow .close:hover {
    color: #63cdda;
  }

  .modalWindow .content {
    max-height: 30%;
    overflow: auto;
  }

  .content a,
  .content a:visited {
    color: #63cdda;
    border-bottom: solid 1px #63cdda;
  }

  @media screen and (max-width: 760px) {
    /*.box{*/
    /*width: 70%;*/
    /*}*/
    .modalWindow {
      width: 70%;
    }
  }

  /*画像設定*/
  figure.profile {
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 240px;
    background: #232323;
    color: #232323;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }

  figure.profile * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  figure.profile img {
    max-width: 100%;
    object-fit: cover;
    position: relative;
    opacity: 1;
  }

  figure.profile figcaption {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 45px;
    padding: 20px;
    z-index: 1;
    opacity: 0;
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
  }

  figure.profile figcaption h3 {
    font-size: 16px;
  }

  figure.profile figcaption p {
    font-size: 12px;
  }

  figure.profile:after {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    content: '';
    outline: 4px dotted #303952;
    outline-offset: -10px;
    background: #ffffff;
    position: absolute;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
    opacity: 0;
  }

  figure.profile a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }

  figure.profile.pink {
    background: #f8a5c2;
  }

  /*アニメーション諸々*/
  figure.profile:hover img,
  figure.profile.hover img {
    opacity: 0.4;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  figure.profile:hover figcaption,
  figure.profile.hover figcaption {
    opacity: 0.8;
  }

  figure.profile:hover:after,
  figure.profile.hover:after {
    opacity: 0.8;
  }

  /*アクティビティ*/
  #about,
  #member,
  #activity,
  #contact,
  #activityArchive {
    margin-bottom: 160px;
  }

  #activity li img,
  #activityArchive li img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transition: all .3s ease-in-out;
  }

  #activity li,
  #activityArchive li {
    display: inline-block;
    list-style: none;
    width: 240px;
    height: 180px;
    margin: 30px;
  }

  #activity li img:hover,
  #activityArchive li img:hover {
    opacity: .6;
    transition: all .3s ease-in-out;
  }

  #activity h4,
  #activityArchive h4 {
    font-size: 14px;
    text-align: left;
    margin: 0;
    color: #63cdda;
  }

  #activity p,
  #activityArchive p {
    margin: 0;
    font-size: 16px;
    text-align: left;
  }

  /*アクティビティのボタン*/
  .moreButton {
    position: relative;
    margin: 60px auto 20px auto;
    width: 140px;
    height: 40px;
    border: 1px solid #a3a3a3;
    border-radius: 8px;
    line-height: 40px;
    box-shadow: 0 0 5px rgba(136, 136, 136, 0.15);
    transition: all .3s ease-in-out;
  }

  .moreButton a,
  .moreButton a:visited {
    text-decoration: none;
    color: #63cdda;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .moreButton:hover {
    transition: all .2s ease-in-out;
    box-shadow: 0 0 15px rgba(87, 87, 87, 0.15);
  }

  /*アーカイブスページと進捗個別ページ*/
  #activityArchive {
    margin-top: 120px;
  }

  #activityArchive li {
    list-style: circle;
    margin-bottom: 80px;
  }

  #activityArchive h4 {
    text-align: left;
    font-size: 16px;
  }

  #activityReport {
    margin: 120px auto 100px auto;
    width: 80%;
  }

  #activityReport img {
    width: 680px;
    height: 420px;
    object-fit: cover;
    margin-bottom: 40px;
  }

  #activityReport ul {
    list-style: circle;
    margin-bottom: 40px;
  }

  #activityReport li {
    list-style: circle;
    margin-left: 20px;
  }

  #activityReport h3 {
    margin: 0;
  }

  #activityReport h4 {
    text-align: center;
    font-size: 16px;
    color: #56c6c5;
  }

  #activityReport section {
    text-align: left;
  }

  /*フッター*/
  footer {
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
  }

  /*お問い合わせフォーム*/
  .formCard{
    width: 90%;
    height: 840px;
  }

  .formButton{
    display: none;
  }
}